@model List<Category>
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6 ">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Create">
                <i class="bi bi-plus-circle"></i> Create New
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped" style="border: 2px solid #6c757d;">
        <thead class="table-dark">
            <tr>
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
                <th class="text-center" style="width: 200px;">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.OrderBy(c => c.DisplayOrder))
            {
                <tr>
                    <td>
                        @category.Name
                    </td>
                    <td>
                        @category.DisplayOrder
                    </td>
                    <td class="text-center" style="width: 250px; white-space: nowrap;">
                        <a class="btn btn-outline-primary btn-sm me-2" style="width: 100px;" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id" title="Edit Category">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-outline-danger btn-sm" style="width: 100px;" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id" title="Delete Category">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>